@charset "utf-8";
/* CSS Document TG own*/

body {
    background: #fff;
    font-family:'Roboto', sans-serif;
}

.header {
    background: #ff7c00;
    padding: 10px 0;
}

.sitenm {
    color: #fff;
    font-size: 50px;
}

    .sitenm span {
        color: #fff;
        font-size: 20px;
        display: block;
    }

.menu-holder {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-default {
        border-color: transparent;
    background: url(../images/nav-wrap.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
}

.navbar-form  .custom-search .form-control {
	background: rgba(255, 255, 255, 1) url("https://image.flaticon.com/icons/svg/126/126474.svg") no-repeat scroll right center / 30px 18px;
	padding-right: 20px;
	transition: all 0.5s ease 0s;
	width: 30px;
	float:right;
}

.custom-search .form-control:focus {
	width: 100%;
}


.services {
    border: 3px solid #fc7c01;
    /*background-color: #fff;*/
    text-align: center;
    padding: 70px 30px 30px;
    min-height: 400px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

    .services img {
        margin-bottom: 50px;
    }

    .services h5 {
        margin-bottom: 30px;
    }

.quick-link-holder {
   
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -80px;
    padding-bottom: 40px;
    
}

.quick-link-holder a {
        text-decoration: none;
        color: #000;
        width: 100%;
        background-color:#fff;
    }

.hvr-sweep-to-top .services img {
	transition: all 0.5s ease 0s;
}
.hvr-sweep-to-top:hover .services img {
	transform: rotateY(-360deg);
}

.hvr-sweep-to-top:before {
    background-color:#a54d00;
}

.marginT {
    margin-top:50px;
}


/*MULTI IMAGE SLIDER - EVENT*/

#owl-demo .item {
    margin: 3px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

#owl-demo1 .item {
    margin: 3px;
}

    #owl-demo1 .item img {
        display: block;
        width: 100%;
        height: auto;
    }

.owl-pagination {
    display: none;
}


.owl-buttons .owl-prev {
    position: absolute;
    right: 60px;
    top: -50px;
}

.owl-buttons .owl-next {
    position: absolute;
    right: 0;
    top: -50px;
}

.photogallery .owl-buttons .owl-prev {
    
    left: 0px !important;
    top: -50px;
}

.photogallery .owl-buttons .owl-next {
    
    right: 0 !important;
    top: -50px;
}

#owl-demo .item img {
    width: 60px;
}

.owl-theme .owl-controls .owl-buttons div {
        border: 1px solid;
        background-color:#fff;
        color:#000;
}
.event-name {
    font-size: 16px;
    color: #ff7b02;
    text-transform:uppercase;

}

    .event-name p {
        font-size: 12px;
        color: #000;
        margin-top: 10px;
    }

.calendar-bg {
}

.event-date {
    width: 100%;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    background: url(../Images/images/Calendar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 25px;
    line-height: 80px;
    color: #272727;
    max-height: 100px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-7 {
    margin-top: 7px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.carousel-caption {
    display: none;
}
.carousel-indicators {
    bottom:75px;
}

.gall_img_holder {
    height: 170px;
    overflow: hidden;
    position: relative;
}


.gall_img_holder img
{
	
	
	width:300px;
	height:200px;
}
.gall_img_holder:hover .btn-holder {
	bottom: 10px;
    padding:6px;
	
}
.btn-holder{
	 bottom: -50px;
    display: block;
    width:100%;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color:rgba(255, 255, 255, .5);
    
	}
	
.butt {
    margin:0 auto;
	display:block;
   background-color:#666;
   border:none;
	
}


.quote {
    background-color: #ff7b02;
    padding: 20px;
    text-align: center;
    color: #fff;
}
    .quote h1 {
        display:inline-block;
        text-align:right;
    }

        .quote h1 span {
            float:right;
            font-size:15px;
            margin-top:10px;

        }
/*fixed nav*/
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav > li > a {
    padding:10px 20px;
    font-size:16px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

/*TG fixed nav end*/

/*footer*/
footer.nb-footer {
    background: #ddd;
    border-top: 4px solid #ff7b02;
}

    footer.nb-footer .about {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 1170px;
        text-align: center;
    }

        footer.nb-footer .about p {
            font-size: 13px;
            color: #999;
            margin-top: 30px;
        }

        footer.nb-footer .about .social-media {
            margin-top: 15px;
        }

            footer.nb-footer .about .social-media ul li a {
                display: inline-block;
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 50%;
                font-size: 16px;
                color: #ff7b02;
                border: 1px solid rgba(255, 255, 255, 1);
            }

                footer.nb-footer .about .social-media ul li a:hover {
                    background: #ff7b02;
                    color: #fff;
                    border-color: #b78c33;
                }

    footer.nb-footer .footer-info-single {
        margin-top: 30px;
    }

        footer.nb-footer .footer-info-single .title {
            color: #000;
            text-transform: uppercase;
            font-size: 16px;
            border-left: 4px solid #ff7b02;
            padding-left: 5px;
        }

        footer.nb-footer .footer-info-single ul li a {
            display: block;
            color: #000;
            padding: 2px 0;
        }

            footer.nb-footer .footer-info-single ul li a:hover {
                color: #000;
            }

        footer.nb-footer .footer-info-single p {
            font-size: 13px;
            line-height: 20px;
            color: #aaa;
        }

    footer.nb-footer .copyright {
        margin-top: 15px;
        background: #ff7b02;
        padding: 7px 0;
        color: #fff;
    }

        footer.nb-footer .copyright p {
            margin: 0;
            padding: 0;
        }
/*footer end*/

/*Inner page TG slider with thum*/
 .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#Sidemenu li {
    display:block;
}

.photog-quck-link {
    margin-top:40px;
}
/*Inner page END TG slider with thum*/

/*RESPONSIVE TG START*/
@media screen and (max-width: 767px) {

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: #fff;
        border: 2px solid #ddd;
    }

    .logo, .sitenm {
        text-align: center;
        font-size: 22px;
    }

    .navbar-default {
        background-color: #fff;
        border-color: transparent;
        background-image: none;
        height: 60px;
    }

    .event-date {
        line-height: 120px;
        min-height: 100px;
    }

    .quick-link-holder {

        margin-top:0;
    }

    .menu-holder {
        position:relative;
    }

    .carousel-indicators {
    bottom:-10px;
}

    .marginT {
        margin-top:0;
    }

    .photog-quck-link {
    margin-top:10px;
}

}
/*RESPONSIVE TG END*/

/* ELASTISLIDE CAROUSEL STYLING START*/
.carousel-wrap {
    margin: 0 0 78px 0;
}

    .carousel-wrap h2 {
        margin-bottom: 50px;
    }

@media (max-width: 767px) {
    .carousel-wrap h2 {
        padding-right: 50px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    .carousel-wrap .es-carousel {
        max-width: 880px;
    }
}

html.ie8 .carousel-wrap .es-carousel {
    max-width: 880px;
}

.carousel-wrap ul li {
    line-height: 21px;
    font-size: 14px;
    color: #b9b9b9;
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-wrap ul li {
        line-height: 18px;
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap ul li {
        line-height: 16px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .carousel-wrap ul li {
        line-height: 14px;
        font-size: 11px;
    }
}

.carousel-wrap ul li .day {
    background: url(Images/date.png) no-repeat 0% 0%;
    float: left;
    width: 60px;
    height: 42px;
    overflow: hidden;
    margin: 0 20px 0 0;
    padding: 24px 0 0 0;
    line-height: 30px;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #3e454c;
}

@media (max-width: 767px) {
    .carousel-wrap ul li .day {
        display: block;
        float: none;
        margin: 0 0 20px 0;
    }
}

.carousel-wrap ul li h5 {
    margin: 0 0 6px 0;
    padding: 12px 0 0 0;
    color: #f15f43;
}

@media (min-width: 980px) and (max-width: 1200px) {
    .carousel-wrap ul li h5 {
        line-height: 15px;
        font-size: 15px;
    }
}

html.ie8 .carousel-wrap ul li h5 {
    line-height: 15px;
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-wrap ul li h5 {
        padding: 0;
        line-height: 13px;
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap ul li h5 {
        padding: 0;
        line-height: 13px;
        font-size: 13px;
    }
}

.carousel-wrap ul li h5 a {
    text-decoration: none;
    color: #f15f43;
}

    .carousel-wrap ul li h5 a:focus {
        text-decoration: none;
        color: #f15f43;
    }

    .carousel-wrap ul li h5 a:hover {
        text-decoration: none;
        color: #201e20;
    }

.carousel-wrap ul li .post_date {
    line-height: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #201e20;
}

@media (min-width: 980px) and (max-width: 1200px) {
    .carousel-wrap ul li .post_date {
        line-height: 13px;
        font-size: 13px;
    }
}

html.ie8 .carousel-wrap ul li .post_date {
    line-height: 13px;
    font-size: 13px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-wrap ul li .post_date {
        line-height: 12px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap ul li .post_date {
        line-height: 12px;
        font-size: 12px;
    }
}

.carousel-wrap ul li .excerpt {
    width: 100%;
    overflow: hidden;
    margin: 0 0 24px 0;
    padding: 21px 0 0 0;
    clear: both;
}

@media (max-width: 767px) {
    .carousel-wrap ul li a.btn-primary {
        background: #f5e8da;
        padding: 5px 8px 5px 8px;
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap ul li a.btn-primary:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel-wrap ul li a.btn-primary:hover {
        background: #f15f43;
    }
}

.carousel-wrap .es-nav .es-nav-next {
    background: none;
    width: 17px;
    height: 25px;
    overflow: hidden;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -84px;
    right: 0;
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-wrap .es-nav .es-nav-next {
        top: -77px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap .es-nav .es-nav-next {
        top: -80px;
    }
}

.carousel-wrap .es-nav .es-nav-next:hover:before {
    opacity: 0;
    filter: alpha(opacity=0);
}

html.ie8 .carousel-wrap .es-nav .es-nav-next:hover:before {
    display: none;
}

.carousel-wrap .es-nav .es-nav-next:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

html.ie8 .carousel-wrap .es-nav .es-nav-next:hover:after {
    display: block;
}

.carousel-wrap .es-nav .es-nav-next:before {
    background: url(Images/next.png) no-repeat 0% 0%;
    display: block;
    width: 17px;
    height: 25px;
    overflow: hidden;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.carousel-wrap .es-nav .es-nav-next:after {
    background: url(Images/next_act.png) no-repeat 0% 0%;
    display: block;
    width: 17px;
    height: 25px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

html.ie8 .carousel-wrap .es-nav .es-nav-next:after {
    display: none;
}

.carousel-wrap .es-nav .es-nav-prev {
    background: none;
    width: 17px;
    height: 25px;
    overflow: hidden;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -84px;
    right: 28px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .carousel-wrap .es-nav .es-nav-prev {
        top: -77px;
    }
}

@media (max-width: 767px) {
    .carousel-wrap .es-nav .es-nav-prev {
        top: -80px;
    }
}

.carousel-wrap .es-nav .es-nav-prev:hover:before {
    opacity: 0;
    filter: alpha(opacity=0);
}

html.ie8 .carousel-wrap .es-nav .es-nav-prev:hover:before {
    display: none;
}

.carousel-wrap .es-nav .es-nav-prev:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

html.ie8 .carousel-wrap .es-nav .es-nav-prev:hover:after {
    display: block;
}

.carousel-wrap .es-nav .es-nav-prev:before {
    background: url(Images/prev.png) no-repeat 0% 0%;
    display: block;
    width: 17px;
    height: 25px;
    overflow: hidden;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.carousel-wrap .es-nav .es-nav-prev:after {
    background: url(Images/prev_act.png) no-repeat 0% 0%;
    display: block;
    width: 17px;
    height: 25px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

html.ie8 .carousel-wrap .es-nav .es-nav-prev:after {
    display: none;
}

/* ELASTISLIDE CAROUSEL STYLING END*/
