@{
    ViewBag.Title = "About";
}


<style>
    .aboutus-txt {
        color: #232323;
        font-size: 16px;
        margin-top: 20px;
    }

    .aboutus-img {
        width: 250px;
        height: 250px;
    }
</style>
<div class="content-holder">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading marginT">  <h1>About Us</h1></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img class="aboutus-img img-circle" src="~/Images/AboutUs/Photo 03.jpg" alt="Sri Sathya Sai Baba doing Bhoomi poojan at Dharmakshetra,Maharashtra" />
                    </div>
                    <div class="col-md-9 aboutus-txt">
                        The Sri Sathya Sai Seva Organisation was founded in the 1960s by Bhagawan Sri Sathya Sai Baba to enable its members to undertake service activities as a means to spiritual advancement. Sri Sathya Sai Organisation derives inspiration, guidance and strength from Bhagawan Baba’s mission and message of propagating the truth of man’s inherent divinity, which is proclaimed and preached by all religions of the world. In consonance with this truth, the organisation has as its main objective - selfless love and service without any distinction of religion, nationality, race, socioeconomic status, either for those who work in the organisation or for those who are served by them. Thus, it transcends all barriers, leading humanity towards the ideal of ‘Fatherhood of God and Brotherhood of Man’.
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 aboutus-txt margin-top-20">


                        In fact, this spiritual basis enables everyone in the Organisation to pursue his own religion better by putting its teachings into practice by way of love and service to the God who dwells in all hearts. That is why the Sai Organisation features in its emblem the symbols of some of the major religions of the world. The undercurrent of all of Bhagawan’s teachings is the principle of love. He has often stated that the essence of all His teachings is contained in the simple yet powerful cannons – “Love All, Serve All. Help Ever, Hurt Never”.
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3 col-md-push-9">
                        <img class="aboutus-img img-circle" src="~/Images/AboutUs/SatyadeepSwami.jpg"alt="Sri Sathya Sai Baba residence Satya deep,Dharmakshetra,Mumbai,Maharashtra" />
                    </div>
                    <div class="col-md-9 col-md-pull-3 aboutus-txt">
                        Sri Sathya Sai Seva Organisation was established at Dharmakshetra, Mumbai in 1968 by the Divine Directions of Bhagawan Sri Sathya Sai Baba. Over the years the organisation has set up branches at state level in each of states and across the globe. Dharmakshetra has also served as  the Divine Abode of Sri Sathya Sai Baba when in Mumbai.
                    </div>

                </div>

                <div class="row">
                   
                    <div class="col-md-9 col-sm-push-3 aboutus-txt">
                        It's an institution hosting the Sri Sathya Sai Medical Centre, Sri Sathya Sai School, Institute of Sathya Sai Education, Sai Wellness Centre, Tailoring Institute, an IT centre and a Digital Recording Studio.
                        Sri Sathya Sai Trust, Maharashtra & Sri Sathya Sai Books & Publications Trust, Maharashtra are the two chief support  trusts for all the activities carried out by Sri Sathya Sai Organisation in Maharashtra & Goa.<br />
                        The moto of the organisation is <b><i>“Transforming Self to Transform the World”</i></b>
                    </div>
                    <div class="col-md-3 col-sm-pull-9 ">
                        <img class="aboutus-img img-circle" src="~/Images/AboutUs/Wellness027.jpg" alt="Wellness centre at Dharmakshetra,Mumbai,Maharashtra" />
                    </div>
                    
                </div>

                <div class="row">

                    
                    <div class="col-md-3 col-md-push-9" id="About-Organization">
                        <img class="aboutus-img img-circle" src="~/Images/AboutUs/Logo1.jpg" alt="Sarva Dharma Stupa Dharmakshetra,Maharashtra and Goa" />
                    </div>
                    <div class="col-md-9 col-md-pull-3 aboutus-txt">
                        The Organisation undertakes spiritual, educational and service activities under the inspiration and guidance of Bhagawan Sri Sathya Sai Baba through the Sri Sathya Sai Samithis / Centres all over the country and the globe. The Sri Sathya Sai Seva Organisation is a free, non-denominational voluntary organisation based in 126 countries. Its members come from all the faiths and share a common goal: to reach the ultimate goal of realisation of their innate divinity by practising the teachings of love and service taught by their spiritual teacher, Sri Sathya Sai Baba. Sri Sathya Sai Baba has spent his entire life in an unparalleled continuous endeavour to elevate man to the highest degrees of human excellence. His universal message of human values and His astonishing models of Educare, Medicare and Sociocare hearten faith by displaying ‘Love in Action’
                    </div>
                   
                </div>

                <div class="row">
                   
                    <div class="col-md-9 col-md-push-3 aboutus-txt" >
                        <b>Organisation at State Level:-</b><br />
                        <ul>
                            <li>Every state has its own State President who appoints District Coordinators for every district of the particular state. The State President is also assisted by the State-level Mahila (women) Coordinators for each wing i.e., Spiritual, Educational and Service.</li>
                            <li>The District Coordinator of every district, in turn, selects the Convenors of every Sai Samithi (centre). Every Samithi has its own Spiritual, Educational and Service coordinator selected by the Convenor.</li>
                        </ul>


                    </div>
                    <div class="col-md-3 col-md-pull-9">
                        <img class="aboutus-img img-circle" src="~/Images/AboutUs/1085.jpg"alt="Sri Sathya sai baba,Narayan Seva,Maharashtra and Goa,Dharmakshetra" />
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-md-12 aboutus-txt">

                        <i>Our remarkable ongoing journey in Maharashtra & Goa that has been fuelled with unconditional love under the guidance of our Master Bhagwan Sri Sathya Sai Baba.<br /> From the smallest gesture to the biggest service, all services are provided totally free of cost to the recipient as personified by Sri Sathya Sai Baba himself. </i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="Code-of-Conduct">


                        Sathya Sai Baba has proclaimed the<b> Nine Point Code of Conduct</b> as guidance for spiritual and personal development:-
                        <ul>
                            <li>Daily meditation and prayer (Jap).</li>
                            <li>Group devotional singing (bhajan) or prayer with family members once a week.</li>
                            <li>Participation in Sai Spiritual Education (Bal Vikas Programme) by children of the family.</li>
                            <li>Participation in community service work and other programs of the organisation.</li>
                            <li>Regular attendance at the Center's devotional meetings (Bhajan or Nagar Sankirtan).</li>
                            <li>Regular study of Sathya Sai Baba literature.</li>
                            <li>The use of soft, loving speech with everyone.</li>
                            <li>Not speaking ill of others, especially in their absence.</li>
                            <li>
                                Narayana Seva. Practice placing a ceiling on desires - consciously and continuously strive to eliminate the tendency to waste time, money, food and energy - and utilize the savings for service to mankind.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
