@{
    ViewBag.Title = "FourWings";
}
<style>
    #wingDetail1, #wingDetail2, #wingDetail3, #wingDetail4 {
        display: none;
    }

    li {
        color: black;
    }

    .link-1 {
        transition: 0.3s ease;
        color: #000000;
        font-size: 20px;
        text-decoration: none;
        /*border-top: 4px solid #000000;
        border-bottom: 4px solid #000000;*/
        padding: 4px 0;
        /*margin: 0 10px;*/
    }

        .link-1:hover {
            border-top: 3px solid #ff6a00;
            border-bottom: 3px solid #ff6a00;
            padding: 4px 0;
            color: #ff6a00;
        }
</style>

<div class="content-holder">
    <div class="container">
        <div class="panel panel-default" style="float:left">
            <div class="panel-heading marginT">
                <h1> Our Service Wings</h1>
            </div>

            <div class="content-holder lazy-load-box">
                <div class="lazy-load-box col-lg-12" style="border-left:ridge #ff6a00;border-right:#ff6a00 ridge;">

                    <div class="btn link-1" style="margin:0px 20px">
                        <a href="#" class="wing3">
                            <h4>Socio Care</h4>
                        </a>
                    </div>

                    <div class="btn link-1" style="margin:0px 20px">
                        <a href="#" class="wing2">
                            <h4>Medi Care</h4>
                        </a>
                    </div>

                    <div class="btn link-1" style="margin:0px 20px">
                        <a href="#" class="wing1">
                            <h4>Edu Care</h4>
                        </a>
                    </div>

                    <div class="btn link-1" style="margin:0px 20px">
                        <a href="#" class="wing4">
                            <h4>Spiritual Care</h4>
                        </a>
                    </div>
                </div>

                @*<div class="wing"></div>*@

                <div id="wingDetail1">
                    <div id="educare">
                        <div class="col-lg-11 content-holder panel" style="margin:10px"><img src="~/Images/FourWings/Educare.jpg" alt="Sri Sathya Sai Baba with Students,Maharashtra and Goa,Dharmakshetra(Educare)" style="width:100%;height:60%" @*"width:90%;height:30%"*@></div>

                        <div class="col-lg-11">
                            <div class="body-content" style="text-align:justify;font-family:'Lucida Sans';color:black">
                                Education has two aspects; the first is related to external and worldly education, which is nothing but acquiring bookish knowledge. The second aspect is known as Educare, is related to human values. The word Educare means to bring out that which is within.<br />
                                Practically, educare refers to all educational programmes of teaching aimed at helping humanity draw out the qualities of goodness inherent in man, and to understand the inner makeup of a human being in relation to the outer physical world, in order to keep a perfect balance.<br />
                                Educare therefore refers to a whole system of education which provides practical knowledge for educating for life, and not just for earning a living.

                            </div>
                            <br />
                            <br />
                        </div>

                        <ul id="Sidemenu" class="col-lg-4  ">
                            <li class="btn link-1" style="margin:0px 20px"><a href="#balvikas">Balvikas</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#ehv">Education in Human Values</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#eshwaramma">Mother Eshwarmma Foundation</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#schools">Sri Sathya Sai Schools</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#vv">Sri Sathya Sai Vidya Vahini</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#vj">Sri Sathya Sai Vidya Jyoti</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#vt">Vocational Training</a></li>


                        </ul>


                        <div id="balvikas" class="col-lg-8" style="text-align:justify;font-family:'Lucida Sans';color:black">
                            <ul >
                                <li id="balvikas">
                                    <b>Bal vikas:</b><br />
                                    “Children are the pillars on which the foundation of the nation's future is built. They are the roots of the national tree, which has to give the fruits of work, worship and wisdom to the next generation.”
                                    -Sri Sathya Sai Baba<br />
                                    Bal Vikas is not just an education for children. It is the essence of all spiritual knowledge. It is Educare for Loka Vikas. The Bal Vikas programme have been launched to blossom the today’s children to citizens and leaders of tomorrow. The impact of this programme has been recognised at individual, community, national, and international levels.
                                    <br />
                                    <b> Evolution of Balvikas in Maharashtra and Goa as on 2016</b>
                                    <ul>
                                        <li>No. of Bal Vikas Centres : 974</li>
                                        <li>No. of Gurus : 1025    </li>
                                        <li> No. of children: 23623<br /></li>
                                    </ul>
                                    <br />
                                </li>

                                <li>

                                    <b>Sri Sathya Sai Vidya Vahini</b><br />
                                    The Sri Sathya Sai Vidya Vahini is aimed at integrating values in an innovative way into the school curriculum. This programme seeks to reflect Sri Sathya Sai Baba's guidance through Education in Human Values and connect the same to the school curriculum.

                                    It makes school education simpler, easier, and much more innovative. Programme motivates the students more, as the curriculum is combined with human values and taught via animations, pictures, and multimedia technologies for 6th to 10th standards in the rural and semi-urban schools.

                                    <b>  Sri Sathya Sai Vidya Vahini have about 170 schools across India. As on 2016, Maharashtra & Goa has 17 rural schools where this unique system of learning has been implemented.</b>
                                    <br /><br />
                                </li>

                                <li id="schools">

                                    <b>Sri Sathya Sai Schools</b><br />
                                    Sri Sathya Sai Trust, Maharashtra, runs school in Mumbai at Dharmakshetra, Andheri catering to over 1100 students from economically challenged background.
                                    Sathya Sai Education in Human Values[SSSEHV] is a module for implementing value based education in schools. This Education system emphasis on the use of knowledge towards serving society, and equip their students with the wisdom to lead their lives in a righteous and responsible manner. Here the entire school teachers are trained & they in turn implement the methodology in the school.
                                    In Maharashtra & Goa, over 40 non Sathya Sai schools have undergone SSSEHV training.
                                    <br /><br />


                                </li>
                                <li id="ehv">
                                    <b>Education In Human Values [EHV]</b><br />
                                    Sathya Sai Education In Human Values S.S.S.E.H.V. is a module for implementing value based education in schools. Here, the entire school teachers are trained & they inturn implement the methodology in the school.
                                    Research over the years has convincingly demonstrated that the children involved in SSSEHV programme have developed more positive personalities. They are more respectful towards their teachers, parents & elders. The teachers & the students, both experience an elevation in their level of consciousness and a transformation in their perspective of life.
                                    In Maharashtra, there is one Sathya Sai School-SRI SATHYA SAI VIDYA MANDIR, PRIMARY & SECONDARY SCHOOL, DHARMAKSHETRA, MUMBAI, out of the total 99 schools in all over India. 
                                    In Non - Sathya Sai Schools Category, over 40 schools all over Maharashtra & Goa have undergone the EHV training.
                                    <br /><br />

                                </li>
                                <li id="eshwaramma">
                                    <b>Mother Easwaramma Foundation</b><br />
                                    This foundation is named after the lady blessed with the divine destiny to give birth to the Avatar of this age, Bhagwan Sri Sathya Sai Baba. In the year this foundation was set up for the social, moral and spiritual upliftment of women with the explicit aim of making them self reliant with vocational and managerial skills.
                                    <br /> Mother Easwaramma Scholarships are given to the needy girl-child to pursue higher education.
                                    <br />
                                    Till March 2014, over 2500 ladies have become self reliant and close to 900 students benefitted from the free coaching classes held at Sai Prem Centre, Navi Mumbai
                                    <br /><br />
                                </li>
                                <li id="vj">
                                    <b>Sri Sathya Sai Vidya Jyothi</b><br />
                                    Sri Sathya Sai Vidya Jyothi is a project that aims to take up existing, semi-operational, makeshift and/or dilapidated government primary schools and turn them into fully operational, well-structured and collaborative schools.
                                    <br />The idea is to create good healthy learning ecosystem, by engaging all the stakeholders in the ecosystem, which includes: the student, the teacher, the parent, the school staff, the villagers, the government and NGOs.
                                    <br /><br />
                                </li>
                                <li id="vt">
                                    <b>Vocational Training</b><br />
                                    Sri Sathya Seva Organisation Maharashtra & Goa has taken up the initiative to mobilize the youth boys from the villages of Karjat, Maharashtra for vocational training since August 2014.
                                    <br />Accordingly Sri Sathya Seva Organisation Mahatashtra & Goa has tied up with a leading vocational training institute near Karjat, where they have a short term course of four months -In welding, electricals and ac mechanics. At the end of the training they are provided with a certificate.. Till now, in the last two years more than 260 students have passed out from this institute.
                                    <b></b>A few students were also given vocational training at a centre of repute run by a Private Bank. Till now in all more than 320 students got trained and most got placement offers immediately.
                                    <br /> Sri Sathya Seva Organisation at Dharmakshetra, Mumbai, has a very active Vocational training Institute that helps many to take up Vocational Training.
                                    Tailoring classes, fashion design, fabric & wall painting, mehendi course for women of weaker section are being conducted as a part of the Diploma courses. Till date 2400 mahilas have benefitted.
                                    <br /><br />
                                </li>
                            </ul>
                            For more details, please contact co-ordinators of your area. You can get their contact details <a href="~/Home/Contact">here</a><br /><br />
                        </div>
                    </div>
                </div>

                <div id="wingDetail2">
                    <div id="medicare">
                        <div class="col-lg-11 content-holder panel" style="margin:10px">
                            <img src="~/Images/FourWings/Medicare.jpg"alt="Sri Sathya Sai Baba with Doctors,Maharashtra and Goa,Dharmakshetra(Medicare)" style="width:100%;height:60%" />
                        </div>

                        <div class="col-lg-11">
                            <div class="body-content" style="text-align:justify;font-family:'Lucida Sans';color:black">
                                Sathya Sai Baba has shown the world that selfless service is the real application of spirituality, and when people are suffering with poor health conditions, one’s prayers and efforts must be turned to serve them and save them from diseases.
                                With the blessings and grace of Sathya Sai Baba, the Sri Sathya Sai Seva Organisation, Maharashtra & Goa, in India, launched a massive health care project in 2008, commonly known as “Medicare”, to serve the villagers at their doorsteps, with complete medical facilities.
                                Hospitals and clinics play a useful role, but a vast number of diseases can be nipped in the bud by providing timely treatment, thus avoiding complicated treatment at a later stage. Mobile medical vans were acquired with in-built medical testing equipment. Such mobile dispensaries are the most viable alternative in terms of cost, time and manpower resources.

                            </div>
                            <br />
                            <br />
                        </div>
                        <ul id="Sidemenu" class="col-lg-4  ">
                            <li class="btn link-1" style="margin:0px 20px"><a href="#mc">Sri Sathya Sai Medical Centre</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#mvan">Mobile Medical Vans</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#camp">Medical Camps</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#mal">Eradication Of Malnutrition</a></li>

                        </ul>
                        <div id="medicare_content" class="col-lg-8" style="text-align:justify;font-family:'Lucida Sans';color:black">
                            <ul >

                                <li id="mc">
                                    <b>Sri Sathya Sai Medical Centre</b><br />
                                    Sri Sathya Sai Seva Organisation, Maharashtra & Goa, began medical services way back in 1968 in the premises of Dharmakshetra, Andheri in an open shed. Today, this humble begining has paved way for the state-of-the-art medical facility for Allopathic, Homeopathic, Ayurvedic  and Vibro clinics.
                                    <br /> Average of 60000 citizens from the lower strata of the society are treated in all the clinics.
                                    <br /> In 1990 the ophthalmic ward equipped with 2 operation theatres was added. On an average, 1500 cataract surgeries are performed every year.
                                    <br /><br />
                                </li>
                                <li id="mvan">
                                    <b>Mobile Medical Vans</b><br />
                                    52 Medical Vans operate in Villages of Maharashtra & Goa with the objective of providing primary healthcare facilities to the remotest corners of the state at no cost to the patient or their families. The vans are viewed as harbingers of overall development for any village as they not only provide medical assistance but also teach basic health & hygiene.
                                    <br />
                                    This project was launched with blessings of Bhagwan in July 2008. As on March 2016 approximately 39 million patients have been treated in 27 disctricts of Maharashtra & Goa covering 95 villages and slums covered by vans and additionally 450 padas, tandas, gatgram and panchayats.
                                    <br /><br />
                                </li>
                                <li id="camp">
                                    <b>Medical Camps</b><br />
                                    Sri Sathya Sai Seva Organisation, Maharashtra & Goa, has been conducting regular dental,eye and and blood donation camps across the state year on year.
                                    The following number stands proof for the same for the year 2015-2016:-
                                    <ul>
                                        <li>  Total Blood Donation Camps were 17 and 815 donors donated blood.</li>
                                        <li>Total Medical Awareness Camps were 638 and 39000 benefitted from this.</li>
                                        <li>Total Number Of Eye Camps Held were 73 and approx 2900 people benefitted from this.</li>
                                    </ul>
                                    <br /><br />
                                </li>
                                <li id="mal">
                                    <b>Eradication Of Malnutrition</b><br />
                                    Sri Sathya Sai Seva Organisation, Maharashtra and Goa, have designed a special programme for the eradication of malnutrition amongst adivasi children in the villages of Maharashtra.This programme collects detailed data of each child alongwith the medical examination report.They are not only offered nutritional supplements but regular follow-up and medical examination is also done to assess the efficacy of the programme.
                                    <br /><br />
                                </li>

                            </ul>
                            For more details, please contact co-ordinators of your area. You can get their contact details <a href="~/Home/Contact">here</a><br /><br />
                        </div>
                    </div>
                </div>

                <div id="wingDetail3">

                    <div id="sociocare">
                        <div class="col-lg-11 panel content-holder" style="margin:10px">
                            <img src="~/Images/FourWings/Sociocare.jpg" alt="Sri Sathya Sai Baba serving, maharashtra and Goa(Dharmakshetra),Sociocare" style="width:100%;height:50%" />
                        </div>

                        <div class="col-lg-11">
                            <div class="body-content" style="text-align:justify;font-family:'Lucida Sans';color:black">
                                The Sathya Sai Organisation derives inspiration, guidance and strength from Bhagawan Baba’s mission and message of propagating the truth of man’s inherent divinity, which is proclaimed and preached by all religions of the world. In consonance with this truth, the Organisation has as its main objective selfless love and service without any distinction of religion, nationality, race, socio-economic status, either for those who work in the Organisation or for those who are served by them. Thus, it transcends all barriers, leading humanity towards the ideal of ‘Fatherhood of God and Brotherhood of Man’.
                            </div>
                            <br />
                            <br />

                        </div>

                        <ul id="Sidemenu" class="col-lg-4">
                            <li class="btn link-1" style="margin:0px 20px"><a href="#dm">Disaster Management </a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#mm">Mass Marriages</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#mnc">Mother & Child Care</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#ns">Narayan Seva</a></li>
                        </ul>
                        <div id="sociocare_content" class="col-lg-8" style="text-align:justify;font-family:'Lucida Sans';color:black">
                            <ul >
                                <li id="dm">
                                    <b>Disaster Management Training</b><br />
                                    Sri Sathya Sai Seva organisation Maharashtra and Goa, conducts a two day session for disaster management training in various parts of Maharashtra and Goa. It helps candidates to gain an insight and to acquire knowledge about various disasters that can occur (both natural and man-made) and how we can deal with them.
                                    The session consists of both theory and practical. The theory session involves information about the types of disasters and the ways to manage them. In the practical session, attendees were taught how to make nine different types of knots which would be useful during crisis periods. They were also shown some videos on floods and were taught some rescue methods like how to lift people, how to make chairs with the hands, how to make stretchers and so on.
                                    On the second day, the boys were taken to the swimming pool and were taught water rescue methods. The girls were also equally brave as they did exercises like rolling over the burning fire and so on.
                                    Till date 911 people have been trained in overall Maharashtra and Goa who are ready to respond in any situation of disaster.
                                    <br /><br />
                                </li>
                                <li id="mm">
                                    <b>Mass Marriages</b><br />
                                    Sri Sathya Sai Seva Organisation Maharashtra and Goa, has been organising mass marriages each year for the under-privileged strata of different religions. In the year 2015 & 2016, 200 couples got married across Maharashtra.
                                    <br />Also, mass marriage of 18 visually challenged couples took place at Dharmakshetra, Mumbai in the year 2016.<br /><br />

                                </li>
                                <li id="mnc">
                                    <b>Mother & Child Care</b><br />
                                    An essential part of Sri Sathya Sai Village Integrated Programme, the Mother & Child Care initiative aspires to educate the rural woman on the various aspects of nutrition, health and hygiene as she journeys from puberty to motherhood. A series of films, case studies and lectures ensure the complete understanding and application of the methods of personal care.
                                    <br />  As of March 2014, 33 villages have been covered by 40 trainers, benefitting 2663 women.<br /><br />

                                </li>
                                <li id="ns">
                                    <b>Narayan Seva</b><br />
                                    Annam Bharma - Food is God and hence it must be shared with one and all. It is essential to humanity that everyone has food to eat. Giving food to the hungry is the basis of the Sri Sathya Sai Annapurna Scheme. Swami says that no person must sleep on an empty stomach. Feeding the hungry is offering naivedyam to God, who is present in all.
                                    <br />Sri Sathya Sai Annapurna Scheme has target to provide nutritious meal to the needy and hungry  across various areas like the adivasi villages of Maharashtra , across various slums and hospitals as well. This Scheme comes under the umbrella of Sri Sathya Sai Trust, Maharashtra and will be implemented by the Sri Sathya Sai Seva Organisation, Maharashtra.
                                    In the last year, around 1103 Narayan Seva activities have been performed which has benefitted around a lakh people.<br /><br />

                                </li>
                            </ul>
                            For more details, please contact co-ordinators of your area. You can get their contact details <a href="~/Home/Contact">here</a><br /><br />
                        </div>
                    </div>
                </div>

                <div id="wingDetail4">
                    <div id="spiritualcare">
                        <div class="col-lg-11 panel content-holder" style="margin:10px">
                            <img src="~/Images/FourWings/SpiritualCare.jpg" alt="Sri Satya Sai Baba(SpiritualCare)Maharashtra and Goa,Dharmakshetra" style="width:100%;height:50%" />
                        </div>
                        <div class="col-lg-11">
                            <div class="body-content" style="text-align:justify;font-family:'Lucida Sans';color:black">
                                The Sathya Sai Organisation, founded by Sathya Sai Baba was "to enable its members to undertake service activities as a means to spiritual advancement", has over 1,200 Sathya Sai Centres (branches) in 126 countries. Through this organisation, Sathya Sai Baba established a network of free hospitals, clinics, drinking water projects, auditoriums, ashrams and schools.<br /><br />
                            </div>

                        </div>

                        @*<div style="float:left; margin-top:40px">*@

                        <ul id="Sidemenu" class="col-lg-4">

                            <li class="btn link-1" style="margin:0px 20px"><a href="#bhajan">Bhajans</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#fest">Festivals</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#nagar">Nagarsankirtan</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#scamp">Sadhana Camps</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#samarpan">Samarpan</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#study">Study Circle</a></li>
                            <li class="btn link-1" style="margin:0px 20px"><a href="#vedam">Vedam</a></li>
                        </ul>
                        <div id="spriritual_content" class="col-lg-8" style="text-align:justify;font-family:'Lucida Sans';color:black">
                            <ul >
                                <li id="bhajan">
                                    <b>Bhajans</b><br />
                                    <i>
                                        “Bhajan singing induces in you a desire for experiencing the truth, to glimpse the beauty that is God, to taste the bliss that is the Self. It encourages man to dive into himself and be genuinely his real Self”.
                                        <br /> -	Sri Sathya Sai Baba
                                    </i><br />
                                    Bhajan or devotional singing is a very vital part of Sri Sathya Sai Baba’s teachings. Bhajans or devotional singing is the very breath of life that keeps our Sri Sathya Sai Seva Organisation in Maharashtra & Goa, healthy and united. The core intention of Bhajan is to make man cleanse his heart and mind, which will helps him to shine in all aspects of Life with happiness and peace.
                                    <br /><br />

                                </li>
                                <li id="fest">
                                    <b>Festivals</b><br />
                                    It  is a remarkable feature of festival celebrations in Sri Sathya Sai Seva Organisation Maharashtra & Goa that they are not confined to any particular religion or deity. They are universal in character emphasizing the underlying unity of all religions and the fundamental message of love and peace. Indeed, Bhagawan had declared in a discourse delivered on the occasion of the First World Conference of the Sri Sathya Sai Seva Organisations at Mumbai in July 1968: “This is a human form in which every Divine entity, every Divine Principle, that is to say, all Names and Forms ascribed by man to God, are manifest”.
                                    All major festivals are celebrated across Maharashtra & Goa with great fervour including the “Bal Vikas-Festival Of Joy” at Mumbai. Other Major important festivals viz:-Hanuman Jayanthi, Ram Navami, Shivratri, Holi, Vijaya Dashmi, Christmas, Raksha Bandhan, Ganesh Jayanthi, Ugadi, Tamil New Year, Makar Sankranti, Eswaramma Day, Buddha Purnima, Onam, Guru Purnima, Ashadi Ekadashi, Diwali, Krishna Janmashtami, Id Ul Fitr, Eid
                                    <br /><br />
                                </li>
                                <li id="nagar">
                                    <b>Nagarsankirtan</b><br />
                                    <i>
                                        "When you participate in Nagar Sankirtan in the early hours of the day, your heart will be brimming with bliss.  It is not merely Kirtan (singing), it is Sankirtan (singing together wholeheartedly) to experience and share your joy with one and all.
                                        <br />  -	Sri Sathya Sai Baba
                                    </i>
                                    <br /> Nagar Sankirtan is mass spiritual awakening where people gather in the early hours before dawn and proceed slowly along the streets singing bhajans glorifying God. Carrying the name of God to every door and purifying the atmosphere of the streets.
                                    <br />Nagar Sankirtan activities are held across all Districts and Samithis in Maharashtra & Goa. Devotees assemble early in the morning (around 5:30 am) and spread the Divine name in the neighborhood by singing Bhajans on the streets.<br /><br />

                                </li>
                                <li id="scamp">
                                    <b>Sadhana Camps</b><br />
                                    Regular Sadhana Camps are held to refresh the fervour of spirituality, in the seeker across various districts of Maharashtra & Goa.
                                    Sadhana Camps of Spiritual workshops aim at searching for the latent divinity of man and help him to reach there through interesting techniques.
                                    Last year around 38 Sadhana Camps were conducted which has benefitted close to 4400 participants.
                                    Sri Sathya Seva Organisation, India, observes a month of ”Giving&Forgiving” from 28th March to 27th April - as a silent offering of Seva Sadhana, Vinamra Vandana & Prem Aradhana<br /><br />

                                </li>
                                <li id="samarpan">
                                    <b>Samarpan</b><br />
                                    The word ‘SAMARPAN’ signifies the complete surrender of the body, mind & soul. It is the process of submerging our own identity with that of almighty.
                                    'Samarpan' – a program of gratitude and love to the Lord, where an ardent devotee from Prasanthi Nilayam shares all his personal experiences and life lessons learnt at the divine lotus feet of Bhagwan Baba. This is an initiative by the alumni of Sri Sathya Sai Institutions (Sri Sathya Sai Students) as an offering in their loving gratitude to Sri Sathya Sai Baba.
                                    Samarpan program was started in April 2015 and is conducted on every 3rd Sunday of the month at Dharmakshetra, Mumbai.<br /><br />

                                </li>
                                <li id="study">
                                    <b>Study Circle</b><br />
                                    The study circle is an integral part of Sai Organisation activities. Bhagawan’s teachings are a treasure trove which needs to be elaborated to understand how man can tune his life to reach his goal. This needs proper understanding through discussions and clarification with appropriate elaboration to digest and absorb.
                                    The basic goal of a study circle is, of course, to help us understand how better to lead a spiritual life, to come closer to God and support each other in spiritual endeavors as Sai Baba says in one discourse, <i>"It is important not simply to read and understand but to find something to put into practice."</i><br /><br />
                                </li>
                                <li id="vedam">
                                    <b>Vedam</b><br />
                                    Sri Sathya Sai Baba has cultured us with a ultimate benefit of vedam chanting. The prime significance of vedam lies in the fact that the truths and thoughts they contain are eternal. As per Sri Sathya Sai Baba, the Vedas offer truths into the nature of the Self that is necessary to gain liberation.
                                    Veda classes are conducted by Vedic scholars, at various centers to enable many people to attend. Activities have been designed for individual, familial and societal level so the impact of veda chanting can be perceived at three levels. Every occasion gets started with Vedic chants which leaves the whole place charged with divine vibrations.

                                </li>
                            </ul>
                            For more details, please contact co-ordinators of your area. You can get their contact details <a href="~/Home/Contact">here</a><br /><br />
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div class="new_member_box_display col-lg-12" id="wingDetail" style="float:left"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var searched = "@ViewBag.SearchedWing";

        if (searched == "sociocare") {

            $('#wingDetail3').show();
        }
        else if (searched == "medicare") {

            $('#wingDetail2').show();
        }
        else if (searched == "educare") {

            $('#wingDetail1').show();
        }
        else if (searched == "spiritualcare") {

            $('#wingDetail4').show();
        }


        $('[class^="wing"]').on('click', function (e) {
            e.preventDefault();

            var numb = this.className.replace('wing', '');

            $('[id^="wingDetail"]').hide();
            $('#wingDetail' + numb).show();
        });
    });

</script>


