@{
    ViewBag.Title = "Trust";
}

<div class="content-holder">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading marginT">  <h1> Trust Details</h1></div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <ol style="list-style:upper-roman">
                            <li>
                                Sri Sathya Sai Trust Maharashtra and Goa

                                <ol>
                                    Following are the trustees for abovementioned trust

                                    <li>Shri K K Mistry</li>
                                    <li>Shri Nimish Pandya</li>
                                    <li>Shri Vijay Bhaskar</li>
                                </ol>
                            </li>
                            <li>
                                Sri Sathya Sai Books and Publications Trust
                                <ol>
                                    Following are the trustees for abovementioned trust
                                    <li>Shri Ramesh Sawant</li>
                                    <li>Anoop Saxena</li>
                                    <li>Shri Mukesh Patel</li>
                                    <li>Shri Ramesh Sawant</li>
                                    <li>Shri Sameer Bhatia</li>

                                </ol>

                            </li>
                        </ol>
                        <h4>Annual Reports</h4>
                        <h4>Official Announcements </h4>
                        <p> Office Address</p>
                        <p>
                            Dharmakshetra, Mahakali Caves Road, Sunder Nagar, Sri Sathya Sai Chowk, Andheri (East ), Mumbai 400 093.

                            Phone Numbers    1. 022 28377999
                            2. 022 28234646
                        </p>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
